<%- include('./partials/head', {title: 'List Shipment' }) %>
  
  <a href="/shipments/<%= user_id %>/add">Add new shipment</a>

  <table class="table">
    <thead class="table-dark">
      <tr>
        <th>Shipment ID</th>
        <th>Shipment Date</th>
        <th>current_latitude</th>
        <th>current_longitude</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      
      <% shipments.forEach(shipment => { %>
        <% let {id, createdAt, current_latitude, current_longitude} = shipment %>

        <tr>
          <td><%= id %></td>
          <td><%= createdAt.toDateString() %></td>
          <td><%= current_latitude %></td>
          <td><%= current_longitude %></td>
          <td>
            <a href="/destinations/<%= id %>/list"><button class="btn btn-outline-primary">view destinations</button></a>
            <a href="/destinations/<%= id %>/add"><button class="btn btn-outline-secondary">add destination</button></a>
          </td>
        </tr>

        <% }) %>
      
    </tbody>
  </table>


  <%- include('./partials/foot') %>